* {
    margin: 0;
    padding: 0;
    
  }

  body{
    width: 1500px;
    height: 100%;
    margin: auto;
  }
  
  .contenedor {
    max-width: 100%;
    margin: auto;
  }
  
  body {
    font-size: 16px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
  }
  
  .fija {
    position: fixed;
    top: 0;
    left: 400px;
  
  }
  
  .menu {
    height: auto;
  }
  
  @font-face {
    font-family: "Pacifico-Regular";
    src: url(/fonts/Pacifico-Regular.ttf);
  }
  
  



  .cuerpo .img50 h2 {
    color: white;
    text-align: left;
    padding-top: -10px;
    padding-left: 510px;
  }
  .cuerpo .img50 h3 {
    color: white;
    text-align: left;
    padding-top: -10px;
    padding-left: 700px;
  }
  
  .cuerpo {
    background-color:  white;
  }
  
  
  /* boton suscribirme */
  .susb66{
    color: white;
    font-size: x-large;
    margin-left: 350px;
    top: -110px;
    margin-top: -100px;
    border-radius: 20px;
    border-left: 10px;
    position: relative;
    display:inline-block;
    top: -150px;
  }

  .susb66{
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
/* fin del boton suscribirme */

  /* fin del boton suscribirme */

  .buttontours {
    background: rgb(55, 181, 65);
    color: white;
    margin-left: 200px;
    margin-top: 0px;
    border-radius: 20px;
    border-left: 10px;
  }
  
  /* aplicamos estilo para el menu busqueda */
  header nav {
    margin: 40px 0 0 -135px;
    text-align: center;
    border-radius: 10px;
    height: 40px;
    width: 1160px;
    display: inline-block;
    padding-bottom: 25px;
    padding-top: -10px;
    border: solid 1px;
    background-color: #3FA392;
    border-color: white;
  }
  
  header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    padding-left: 10px;
    margin-left: 50px;
    color: white;
  }
  
  .contenedor .fija .titulo {
    border: solid;
    border-radius: 50%;
    display: inline-block;
    margin-top: -10px;
  }
  
  .img50 {
    background-image: url(/img/montañas.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;

  }
  div .recorre{
    background-color: #FFC107;
    margin-bottom: 10px;
    margin-top: -2px;
    height: 78px;
    width:1500px;
    margin-left: 1px;
  }

  div .recorre p{
    font-size: 18px;
    padding: 25px;
    text-align: center;
  }

  div .tamazonas{
  margin-top: -50px ;
  margin-left: 100px;
  width: 300px;

  }
  
  div .tamazonas p{
    font-size: 40px;
font-family: cooper;
text-align: center;
color: white;
border: yellow;
  }

  /* configuracion de la tabla */
  
  .timg{
    padding: 150px;
    margin-left: -50px;
  }

  table {
    padding: 50px 50px;
    margin-top: -450px;
    margin: auto;
  }
  
  
  table tr td img{
    border-radius: 50px;
    height: 420px;
    padding: 20px;
  }
  /* fin de la configuracion de la tabla */


  /* nombres de las imagenes */
div .Amazonas{
  margin-top: -700px;
  margin-left: 175px;
}

div .Ancash{
  margin-top: -40px;
  margin-left: 510px;
}

div .Apurimac{
  margin-top: -40px;
  margin-left: 802px;
}

div .Arequipa{
  margin-top: -40px;
  margin-left: 1120px;
  margin-bottom: 450px;
}

div .Ayacucho{
  margin-top: -20px;
  margin-left: 175px;
}

div .Cajamarca{
  margin-top: -40px;
  margin-left: 478px;
}

div .Lima{
  margin-top: -40px;
  margin-left: 850px;
}

div .Cusco{
  margin-top: -40px;
  margin-left: 1150px;
  margin-bottom: 50px;
}
/* fin de los nombres de las imagenes */

  .descripcion{
    
    color: #ffffff;
    font-size: 35px;
    text-shadow: 5px 5px 5px  ;
 }


    /* destinos mas el parrafo principal */
  h1 {
  color: white;
  text-align: left;
  padding-top: 220px;
  padding-left: 670px;
  font-size: 20px;
}

  .cuerpo .img50 h2 {
    color: white;
    padding-left: 476px;
    padding-top: 10px;
    font-size: x-large;
  }

  .cuerpo .img50 h3 {
    color: white;
    padding-left: 625px;
    padding-top: 2px;
  }

  .cuerpo .img50 P {
    color: white;
    padding-left: 150px;
    margin-top: -182px;
  }
    /* fin de destinos mas el parrafo principal */
  
  /* contenido avion de papel */
  .manticura{
    margin-left: 320px;
    margin-top: -510px;
    color: white;
  }
  
  /* fin de contenido avion de papel */
  .cuerpo .p {
    padding-left: 200px;
    padding-top: 100px;
  }
  
  .cuerpo .p h3 {
    font-size: 20px;
    padding-left: 0px;
    position: static;
  }
  
  .cuerpo h1 {
    font-size: 30px;
  }
  
  header nav .titulo{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    margin-top: -15px;
    right: 830px;
  }
  .cuerpo .p p{
    font-size: 18px;
    left: 0px;
  }
  
  
  .cuerpo .p{
    background-repeat: no-repeat;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  
  
  .buscar{
    width: 150px;
    height: 18px;
    padding: 0 10px;
    font-size: 15px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 20px;
  }
  
  .contenedor .camp{
    margin-right: -10px;
  }
  
  .contenedor .user{
    margin-right: -10px
  }
  
  .contenedor .fija .ofer{
    margin-left: 40px;
  }
  
  


  
  section .turismo1{
    margin: 1px;
    padding: 1px;
    margin-left: 100px;
    color: #666666;
    float: left;
    border: silver;
  }
  section .turismo2{
    margin: 1px;
    padding: 1px;
    color: #666666;
    float: left;
    margin-left: 150px;
  }
  section .turismo3{
    margin: 1px;
    padding: 1px;
    color: #666666;
    float: left;
    margin-left:150px;
    background-position: right;
  }
  section .h3{
    text-align: center;
    padding-bottom: 30px;
  
  }
  section h4{
    text-align: left;
    padding-bottom: 20px;
  }
  
  footer .pie{
  margin-top: 250px;
  background-color: #EFEFEF;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  }
  
  .cuerpo section .ofre .serv{
    padding-top: 200px;
    padding-bottom: 20px;
  }
  
  .cuerpo section .ofre{
    padding-left: 250px;
    padding-bottom: 100px;
  }
  
  /* inicio de imagenes */
  .cuerpo .amazonas img{
    padding-left: 0px;
    display: flex;
    
    border: solid;
    margin-left:100px;
    margin-top: -200px;
    border-color: white;
    border-radius: 20px;
  }
  .cuerpo .ancash img{
    padding-left: 0px;
    display: flex;
    
    border: solid;
    margin-left:450px;
    margin-top: -310px;
    border-color: white;
    border-radius: 20px;
  }
  .cuerpo .apurimac img{
    padding-left: 0px;
    display: flex;
    
    border: solid;
    margin-left:800px;
    margin-top: -310px;
    border-color: white;
    border-radius: 20px;
  }
  .cuerpo .arequipa img{
    padding-left: 0px;
    display: flex;
    
    border: solid;
    margin-left:1150px;
    margin-top: -310px;
    border-color: white;
    border-radius: 20px;
  }
  .cuerpo .ayacucho img{
    padding-left: 0px;
    display: flex;
    padding: 0px;
    border: solid;
    margin-left:100px;
    margin-top: 100px;
    border-color: white;
    border-radius: 20px;
  }
  .cuerpo .cajamarca img{
    padding-left: 0px;
    display: flex;
    padding:0px ;
    border: solid;
    margin-left:450px;
    margin-top: -300px;
    border-color: white;
    border-radius: 20px;
  }
  .cuerpo .lima img{
    padding-left: 0px;
    display: flex;
    
    border: solid;
    margin-left:800px;
    margin-top: -310px;
    border-color: white;
    border-radius: 20px;
    
  }
  .cuerpo .cusco img{
    padding-left: 0px;
    display: flex;
    padding:0px;
    border: solid;
    margin-left:1150px;
    margin-top: -310px;
    border-color: white;
    border-radius: 20px;
  }

  .cuerpo .avionpapel img{
    padding-left: 0px;
    display: flex;
    border: solid;
    margin-left: 300px;
    margin-top: -1;
    border-color: white;
    border-radius: 20px;
  }
  /* fin de imagenes */




  .cuerpo section .p .vist{
    padding-bottom: 20px;
  }
  
  .cuerpo .lago p{
    color: white;
    font-style: bolder;
    padding-left: 150px;
    font-size: 30px;
  }
  
  .cuerpo .lago .des{
    padding-top: 390px;
  }
  
  .contenedor .fija a:hover{
    border-bottom: 5px solid gold;
  }



  /* pantalla adaptable o respective */

  @media screen and (max-width: 980px){
    #contenedor{
        width: 90%;
    }
    #contenido{
        width: 60%;
    }
}

/* personalizacion de iconos */
.fa-facebook-square{
  color: rgb(38, 21, 136);
  font-size: 60px;
  width: 90px;
  }
  .fa-twitter-square{
  color: rgb(41, 151, 194);
  font-size: 60px;
  width: 90px;
  }
  .fa-instagram-square{
  color: rgb(212, 29, 182);
  font-size: 60px;
  width: 90px;
  }
  .fa-rss{
  font-size: 60px;
  color:#673FB4;
  width: 90px;
  }
  
  footer .install{
  display: flex;
  margin-left: 764px;
  position: absolute;
  top: 2225px;
  }
/* personalizacion de iconos */

.buttonpie {
  background: darkgray;
  margin-left: -5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: -99px;
  padding-bottom: 10px;
  color: white;
}



img {
  max-width: 100%;
  height: auto;
}

/* pantalla movil */
@media screen and (max-width: 480px){
  #encabezado{
      height: auto;
  }
  #contenido{
      width: auto;
  }
  #barra_lateral{
      display:none;
  }
}
